{% extends 'base.html.twig' %}

{% block head_title %}PHP design patterns | {{ subtitle }}{% endblock %}
{% block sub_title %}{{ subtitle }}{% endblock %}

{% block stylesheets %}
    <style>{{ highlight_css }}</style>
{% endblock %}

{% block content %}
    <div class="row">
        {% for highlight in highlights %}
        <h4>{{ highlight.file_name }}</h4>
            <pre><code class="hljs {{ highlight.language }}">{{ highlight.value|raw }}</code></pre>
        {% endfor %}
    </div>
{% endblock %}